<html>
    <head>
        <link href="/css/styles.css" rel="stylesheet" type="text/css" >
        <script src="/js/fetch.js"></script>
    </head>
    <body>
        <h1>  {{name}} </h1>
        <p>{{>header}}</p>
        <p id='site' style="font-size: large;">Use this site to find the weather!</p>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>