body{
    text-align: justify;
    margin: 2px 16px;
    padding: 0px 16px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 6px;
    margin-left: 2px ;
    font-size: 64px;
    margin-bottom: 16px;
}
a{
    border-bottom:  solid currentColor;
    text-decoration: none;
    color: #666666;
    padding: 10px;
    margin: 10px;
    transition: 0.5s ;
}
footer{
    margin-top: 10px;
    flex-grow: 1;
    border-top: 1px solid rgb(151, 151, 151);
    color: rgb(77, 76, 76);
    margin-top: initial;
}
#site{
    color: lightcoral;
    transition: 0.5s;
}
#site:hover{
    color: lightslategrey;
}
a:hover{
    color: lightcoral;
    border-style: groove lightgrey;
    
}

input{
    border: lavender solid ;
    padding: 5px;
}
button{
    background-color:rgba(0, 0, 0, 0.418);
    color: oldlace;
    padding: 8px;
    cursor: pointer;
}
img{
    border-radius: 50%;
    width :400px
}